*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
}
header{
  display: flex;
  background-color: steelblue;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 3em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

button {
  background-color:#001b44;;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
 /* float:inline-start;*/
}
div{
  display: flex;
  background-color: rgb(105, 186, 212);
  border: 3px solid #093755;
  align-items: center;
  justify-content: center;
}
.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #212121;
}

input {
  text-align: center; 
  font-size:400%; 
  font-weight: bolder;
   letter-spacing: 5px; 
   line-height: 100%;
   
}

input:hover {
  background-color: #e8eaed;
}

.word {
  /*border: 1px solid #093755;*/
  border-radius: 8px;
  margin: 25px 20%;
  align-content: space-around;

}
.result{
  background-color: rgb(107, 78, 4);
  border: 2px solid #093755;
  border-radius: 8px;
  width: 50%;
  height: 200px;
  text-align: center;
}
.timer{
  background-color: rgb(219, 172, 51);
  border: 3px solid #093755;
  border-radius: 8px;
  position: relative;
  width: 50%;
  height: 200px;
  align-content: center;
  text-align: center;
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

#msg {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}

#msg.success,
#msg.error {
  visibility: visible;
}

#msg.success {
  color: #001b44;;
}

#msg.error {
  color: #e6252c;
}
